<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
        <title>Online Store APP - {% block title %}Welcome!{% endblock %}</title>
    </head>
<body>
    <div>
        <h1>{% block myhdg %}Hello User {% endblock %}</h1>
        {% block body_block %}*** {% endblock %}
    </div>
    <hr/>
    {% if request.user.is_authenticated %}
        <div>
            <dl>
                <li class="userstatus"><a href="{% url 'myapp:logout' %}">Logout</a></li>
                <li class="userstatus"><a href="{% url 'myapp:myorders' %}">View my orders</a></li>
            </dl>
        </div>
    {% else %}
        <a style="color:white" class="userstatus" href="{% url 'myapp:register' %}">Register Here</a>
        <a style="color:white" class="userstatus" href="{% url 'myapp:login' %}">Login</a>
    {% endif %}
    <div>
        <ul>
            <li class="hbar1"><a href="/myapp/about/">Find out about this site</a></li>
            <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
            <li class="hbar1"><a href="{% url 'myapp:products' %}">Products</a></li>
        </ul>
    </div>
</body>
</html>