{% extends 'myapp/base.html' %}
{% block myhdg %}
Hello {{ request.user }}
{% endblock %}

{% block body_block %}
     {% if cat_name %}
        <h2>Information about this category</h2>
        <p>name: {{cat_name.name}}</p>
        <p>warehouse: {{cat_name.warehouse}}</p>
        <h2>List of products</h2>
        <ol>
            {% for product in prod_list %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available categories!</strong>
    {% endif %}
{% endblock %}
