{% extends 'myapp/base.html' %}
{% block body_block %}
    <div class="mx-auto col-6">
    <h2>Login Page</h2>
    <form action="/myapp/forgotpassword/" method="post">
        {% csrf_token %}
        Please enter your email address. Your password will be reset and sent to your email address.<br>
        <br>
       <input type="email" name="email" id="email" placeholder="Email ..." class="form-control">
        <br>
        <br>
        <input type="submit" value="Reset My Password" class="btn btn-info btn-block">
        {% if msg %}
            <p>{{msg}}</p>
        {% endif %}
    </form>
    </div>
{% endblock %}