{% extends 'myapp/base.html' %}
{% block body_block %}
    <div class="mx-auto col-6">
    <h2>Login Page</h2>
    <form action="/myapp/login/" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="mt-3">
            <input type="submit" value="submit" class="btn btn-info btn-block">
        </div>
        <div class="mt-3">
            Forgot your password ? <a href="/myapp/forgotpassword/">Reset my password</a>
        </div>
    </form>
    </div>
{% endblock %}